<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Módosítás</title>
</head>

<body>
  <form method="post" action="/sutemenyek/<%= modositando.id %>?_method=PUT">
    <div>
      <label for="nev">Név</label>
      <input type="text" name="nev" value="<%= modositando.nev %>">
    </div>

    <div>
      <label for="ar">Ár</label>
      <input type="number" name="ar" value="<%= parseInt(modositando.ar) %>">
    </div>

    <div>
      <label for="leiras">Leírás</label>
      <input type="text" name="leiras" value="<%= modositando.leiras %>">
    </div>

    <div>
      <input type="submit">
    </div>
  </form>

  <form method="post" action="/sutemenyek/<%= modositando.id %>?_method=DELETE">
    <button type="submit">Törlés</button>
  </form>
</body>

</html>